::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

.body{
	background-image: url(../img/bright.jpg);
	background-size: cover;
	width: 100%;
	color: red;
	
}

#luh{
	font-size: 60px;
	text-align: center;
	margin-top: 300px;
	letter-spacing: 25px;
	
	color: #fff;
}

.parallax {
	background-image: url(../img/bright.jpg);
	background-size: cover;
	width: 100%;
	 /* Set a specific height */
    min-height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
	font-family: Charlemagne STD,'Varela', sans-serif;
}

.glitch {
  color: white;
  font-size: 60px;
  position: relative;
  letter-spacing: 25px;
  width: 65%;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(65px, 9999px, 97px, 0);
  }
  5% {
    clip: rect(99px, 9999px, 78px, 0);
  }
  10% {
    clip: rect(92px, 9999px, 13px, 0);
  }
  15% {
    clip: rect(59px, 9999px, 95px, 0);
  }
  20% {
    clip: rect(2px, 9999px, 71px, 0);
  }
  25% {
    clip: rect(93px, 9999px, 85px, 0);
  }
  30% {
    clip: rect(30px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(79px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(94px, 9999px, 88px, 0);
  }
  45% {
    clip: rect(68px, 9999px, 5px, 0);
  }
  50% {
    clip: rect(62px, 9999px, 39px, 0);
  }
  55% {
    clip: rect(21px, 9999px, 88px, 0);
  }
  60% {
    clip: rect(92px, 9999px, 23px, 0);
  }
  65% {
    clip: rect(94px, 9999px, 6px, 0);
  }
  70% {
    clip: rect(88px, 9999px, 98px, 0);
  }
  75% {
    clip: rect(43px, 9999px, 93px, 0);
  }
  80% {
    clip: rect(29px, 9999px, 85px, 0);
  }
  85% {
    clip: rect(84px, 9999px, 94px, 0);
  }
  90% {
    clip: rect(43px, 9999px, 75px, 0);
  }
  95% {
    clip: rect(53px, 9999px, 64px, 0);
  }
  100% {
    clip: rect(6px, 9999px, 65px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  letter-spacing: 25px;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(19px, 9999px, 82px, 0);
  }
  5% {
    clip: rect(2px, 9999px, 16px, 0);
  }
  10% {
    clip: rect(67px, 9999px, 65px, 0);
  }
  15% {
    clip: rect(45px, 9999px, 20px, 0);
  }
  20% {
    clip: rect(83px, 9999px, 23px, 0);
  }
  25% {
    clip: rect(12px, 9999px, 8px, 0);
  }
  30% {
    clip: rect(93px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(22px, 9999px, 70px, 0);
  }
  40% {
    clip: rect(32px, 9999px, 89px, 0);
  }
  45% {
    clip: rect(14px, 9999px, 81px, 0);
  }
  50% {
    clip: rect(48px, 9999px, 20px, 0);
  }
  55% {
    clip: rect(84px, 9999px, 19px, 0);
  }
  60% {
    clip: rect(54px, 9999px, 65px, 0);
  }
  65% {
    clip: rect(33px, 9999px, 83px, 0);
  }
  70% {
    clip: rect(5px, 9999px, 41px, 0);
  }
  75% {
    clip: rect(79px, 9999px, 25px, 0);
  }
  80% {
    clip: rect(19px, 9999px, 70px, 0);
  }
  85% {
    clip: rect(12px, 9999px, 41px, 0);
  }
  90% {
    clip: rect(53px, 9999px, 71px, 0);
  }
  95% {
    clip: rect(62px, 9999px, 70px, 0);
  }
  100% {
    clip: rect(30px, 9999px, 1px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  letter-spacing: 25px;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.cont{
	background-color: rgba(0, 0, 0, 0.7);
	background-size: cover;
	max-width:100%;
	margin-top: -500px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 8px #D0D0D0;
}

.nav-top {
	background: #fff;
	background: rgb(0, 0, 0);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.65em;
	line-height: 2.6;
	height: 50px;
}

.nav-top a {
	padding: 0.41em 1em;
	letter-spacing: 0.1em;
	color: #444;
	display: inline-block;
}

.nav-top a:hover {
	background: rgba(255,255,255,0.1);
	color: #333;
}

#summary{
	background-color: rgba(0, 0, 0, 1);
	margin-top: 300px; 
	background-size: cover;
	font-size:36px;
}